.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 15px 8px;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background:  #080808;
  color: white;
}

.fa-twitter {
  background:  #080808;
  color: white;
}
.fa-linkedin {
  background:  #080808;
  color: white;
}
.fa-instagram {
  background: #080808;
  color: white;
}