*
{
	margin:0;
	padding:0;
	font-size:Century Golthic:
	
}
.kingster-page-wrapper {
	clear: both;
}

.single-product.woocommerce .kingster-page-wrapper {
	border-top-width: 1px;
	border-top-style: solid;
}

header
{
	float:right;
	height:100vh;
	background-size:cover;
	background-position:center;
}
ul
{
	list-style-type:none;
	float:right;
	margin-top:25px;
}
ul li
{
	display:inline-block;
	
}
ul li a
{
	text-decoration:none;
	color:#000;
	padding : 5px 20px;
	border:1px solid transparent;
	transition:0.6s ease;
	
}
ul li a:hover
{
	background-color:#008000;
	color:#000;
}
.main
{
	
	max-width:1200px;
	margin:auto;
}
ul li.active a
{
	background-color:#fff;
	color:#008000;
}
#logo {
  display: inline;
  margin: 150px; 
  height: 100px;
  width: 100px;  
}
img {
text-align: center;
float: center;
max-width: 100%;
height: 100px;
width: 1000px;
color:#000;
}
 .kingster-logo {
        -webkit-box-shadow: 0px 11px 5px -1px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 11px 5px -1px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 11px 5px -1px rgba(0, 0, 0, 0.3);
    }
.kingster-item-pdlr, .gdlr-core-item-pdlr{ padding-left: 20px; padding-right: 20px; }
 .kingster-logo-inner 
	{
        max-width: 80% !important;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
		
    }
.nitk-title-image 
	{
        max-width: 80% !important;
		
    }
h6
{
	list-style-type:none;
	float:right;
	margin-top:100px;
}
 .footer {
    position:fixed;bottom:0;

    width:100%;
    display:block;
	 height: 30px;
    width: 100%;
    background-color: #333333;
}
 p.copyright {
        position: absolute;
        width: 100%;
        color: #fff;
        line-height: 40px;
        font-size: 0.7em;
        text-align: center;
        bottom:0;
    }